$gray4: #fafafa;
$danger: #e02200;

:host{
    width: 100%;
    max-width: 900px;
}

.clr-form{
    padding: 0;
}

.clr-control-container,
.clr-textarea{
    width: 100%;
}

.clr-textarea{
    resize: none;
    min-height: 150px;
}

label{
    color: $gray4;
}

.clr-subtext{
    color: $danger;
}