<header class="header-3">
    <div class="branding">
        <a [routerLink]="'/'"class="nav-link">
            <span class="title">ASK</span>
        </a>
    </div>
    <div *ngIf="!(loggedIn$ | async)" class="header-actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="6px">
        <button [routerLink]="'/login'" class="btn btn-link btn-inverse">Login</button>
        <button [routerLink]="'/signup'" class="btn btn-inverse">Signup</button>
    </div>
    <div *ngIf="(loggedIn$ | async)" class="header-actions">
        <a href="..." class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="bell"></clr-icon>
        </a>
        <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
                <clr-icon shape="user"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a routerLink="/profile" clrDropdownItem>Profile</a>
                <a [routerLink]="'/my-questions'" clrDropdownItem>My questions</a>
                <a (click)="logout()" clrDropdownItem>Log out</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</header>