<div class="question" fxLayout="row">
    <app-votes 
        [upvotes]="question.upvotes" 
        [downvotes]="question.downvotes"
        [upvoted]="question.upvoted" 
        [downvoted]="question.downvoted"  
        (upvote)="upvote($event)" 
        (downvote)="downvote($event)">
    </app-votes>
    <div (click)="goToQuestionInfo()" class="question-body" fxFlex="100%" fxLayout="column" fxLayoutAlign="center start">
        <div class="p5">posted by {{ question.author }} {{ timeDifference(question.created_at) }}</div>
        <div class="question-text">{{ question.body }}</div>
        <div class="p4 answer-count">{{ question.answer_count }} {{ question.answer_count === 1 ? 'answer' : 'answers'}}</div>
    </div>
</div>