$blue: #0077b8;

.notification-list{
    position: absolute;
    top: 2.5rem;
    right: 0;
    min-width: 250px;
    max-width: 450px;
    z-index: 10;

    .card{
        margin-top: 0px;
        
        a{
            color: $blue;
        }
    }

    .p7{
        margin-top: 6px;
    }
}

@media only screen and (max-width: 600px){
    .notification-list{
        width: 100vw;
    }
}