<div [hidden]="!opened" class="notification-list">
    <div class="card">
      <div *ngFor="let notification of notifications" class="card-block">
        <div class="card-text">
            New answer from {{ notification.answer_author }} on your <a (click)="clickNotification(notification)">question</a>.
            <div class="p7">{{ timeDifference(notification.created_at) }}</div>
        </div>
      </div>
      <div *ngIf="notifications.length === 0" class="card-block">
        <div class="card-text">
           No notifications to show
        </div>
      </div>
    </div>
</div>