$blue: #0077b8;
$gray3: #F2F5F7;

.notification-list{
    position: absolute;
    top: 2.5rem;
    right: 0;
    min-width: 250px;
    max-width: 450px;
    z-index: 10;

    .card{
        margin-top: 0px;
        max-height: calc(100vh - 2.5rem);
        overflow-y: scroll;

        .card-block.unread{
            background-color: $gray3;
        }
        
        a{
            color: $blue;
        }
    }

    .p7{
        margin-top: 6px;
    }
}

@media only screen and (max-width: 600px){
    .notification-list{
        width: 100vw;
    }
}